<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.moodtracker">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MoodTracker">
        <activity
            android:name=".activities.SleepDurationAllMoodsActivity"
            android:parentActivityName=".activities.StatisticsActivity" />
        <activity
            android:name=".activities.MoodVariationSingleMealActivity"
            android:parentActivityName=".activities.StatisticsActivity" />
        <activity
            android:name=".activities.MoodVariationActivity"
            android:parentActivityName=".activities.StatisticsActivity" />
        <activity
            android:name=".activities.MoodCountActivity"
            android:parentActivityName=".activities.StatisticsActivity" />
        <activity
            android:name=".activities.SleepDurationSingleMoodActivity"
            android:parentActivityName=".activities.StatisticsActivity" />
        <activity
            android:name=".activities.SleepDurationVariationActivity"
            android:parentActivityName=".activities.StatisticsActivity" />
        <activity
            android:name=".activities.StatisticsActivity"
            android:parentActivityName=".activities.DashboardActivity" />
        <activity
            android:name=".activities.EntryHistoryActivity"
            android:parentActivityName=".activities.DashboardActivity" />
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.DashboardActivity"
            android:parentActivityName=".activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.moodtracker.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.CreateEntryActivity"
            android:parentActivityName=".activities.DashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.moodtracker.activities.DashboardActivity" />
        </activity>
    </application>

</manifest>